
.auth-block {
    padding: 75px 5px 5px;
}

footer {
    background-color: #292E3A;
    color: #e2e2e4;
}

.bg-challonge {
   background-color: #292E3A !important;
}

.bg-custom {
    background-color: #c8eaf3 !important;
}
