
.auth-block {
    padding: 75px 5px 5px;
}

footer {
    background-color: #292E3A;
    color: #e2e2e4;
}

.bg-challonge {
   background-color: #292E3A !important;
}

.bg-custom {
    background-color: #c8eaf3 !important;
}

.input-group-addon {
    min-width: 50px !important;
}

@media (min-width: 768px) {
    .registration-container{
        width:500px;
    }}

@media (min-width: 992px) {
    .registration-container{
        width:650px;
    }}

@media (min-width: 1200px) {
    .registration-container{
        width:750px;
    }}
