
.auth-block {
    padding: 75px 5px 5px;
}

footer {
    background-color: #080817;
    color: #e2e2e4;
}


.bg-habb {
    background-color: #080817 !important;
}

.bg-habb-with-color {
    background-color: #080817 !important;
    color: #e2e2e4 !important;
}

.habb-div-bar {
    background-color: #1DD2F2;
    height: 1px;
}

.nav-icons {
    color: #e2e2e4;
}

.text-grey {
    color: #222222;
}

.habb_home-option-block {
    min-height: 200px !important;
}

.input-group-text {
    min-width: 50px !important;
}

@media (min-width: 768px) {
    .registration-container{
        width:500px;
    }}

@media (min-width: 992px) {
    .registration-container{
        width:650px;
    }}

@media (min-width: 1200px) {
    .registration-container{
        width:750px;
    }}
