html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

body {
    margin-bottom: 60px;
    padding-bottom: 15px;
}

nav {
    border-radius: 0 !important;
}

pre {
    background-color: #fafafc !important;
}


blockquote {
    /**
    кодирование спец символов не позволяет задать класс цитатам, а бутсрап дает класс не тегу blockquote, а классу .blockquote. Здесь я копипастнул код
     */
    padding: 0.5rem 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.25rem !important;
    border-left: 0.25rem solid #eceeef !important;
}

/*
    Делает блок алерта справа сверху постоянным. Не всегда отображается корректно
 */
.alert-fixed {
    position:fixed;
    top: 60px;
    right: 10px;
    min-width: 100px;
    max-width: 350px;
    z-index:9999;
    border: 1px solid;
    /*border-radius:0px*/
}

.habb-post-link {
    font-size: 21px;
    color: #131313 !important;
}

.habb-post-link:hover {
    color: #131313 !important;
    text-decoration: underline !important;
}

.habb-post-link:focus, .btn-link-black.focus {
    text-decoration: underline !important;
    box-shadow: none !important;
}

.habb-post-link:disabled, .btn-link.disabled {
    color: #6c757d !important;
    pointer-events: none;
}

.habb-video-iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.habb-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

